header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #308242;
}

#logo {
    width: 7rem;
    height: 7rem;
}

#tituloHeader {
    font-family: 'Archivo Black', sans-serif;
    color: white;
    font-size: 48px;
}

#menuHeader {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    margin-right: 25px;
}

#menuHeader > a {
    text-decoration: none;
    color: white;
}

.submenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    background-color: lightgray;
    position: absolute;
}

#menuHeader:hover .submenu{
    display: block;
}

.enlacesSubmenu {
    text-decoration: none;
    color: black;
}

footer {
    background-color: #283680;
}

#jugadoresDiv {
    background-color: lightgray;
    border-radius: 15px;
    display: grid;
    padding-left: 20px;
}