nav {
    display: flex;
    background-color: #308242;
}

nav > h1 {
    justify-content: space-between;
    font-size: 48px;
}

#logo {
    justify-content: flex-start;
    width: 7rem;
    height: 7rem;
}