header {
    background-color: #308242;
}

header > nav {
    display: flex;
}

nav > h1 {
    font-size: 48px;
}

footer {
    background-color: #283680;
}

#logo {
    justify-content: flex-start;
    width: 7rem;
    height: 7rem;
}