/*Header*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #064E3B;
}

#logo {
    width: 7rem;
    height: 7rem;
}

#tituloHeader {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 48px;
}

#menuHeader {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    margin-right: 25px;
}

#menuHeader > a {
    position: relative;
    text-decoration: none;
    color: white;
}

.submenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    background-color: lightgray;
    position: absolute;
    left: 90%;
}

.submenu > li {
    padding-bottom: 10px;
}

#menuHeader:hover .submenu{
    display: block;
    border-radius: 16px;
    padding: 10px;
}

.enlacesSubmenu {
    text-decoration: none;
    color: black;
}

/*General*/

body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
}

p {
    font-family: 'Lato', sans-serif;
}

table {
    width: 50%;
    border: 1px solid black;
}

td {
    display: flex;
    align-items: center;
}

tr {
    display: flex;
}

button {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    width: 25%;
}

/*Plantillas*/

#divPlantillaGeneral {
    display: grid;
    background-color: gray;
    align-items: center;
    padding: 20px;
    justify-content: center;
}

#divPlantillaGeneral > h1 {
    font-family: 'Oswald', sans-serif;
}

.plantillaEncabezado {
    font-size: 32px;
    text-align: center;
    text-decoration: underline;
}

.encabezadoDiv {
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.encabezadoDiv > h2 {
    font-size: 48px;
}

.escudoEquipo {
    width: 5rem;
    height: 5rem;
}

.escudoEquipoFemenino {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 7px;
}

.personasDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.tarjetas {
    border: 1px solid black;
    background-color: white;
    padding: 15px;
    width: 6cm;
    border-radius: 16px;
}

.imagenPersona {
    width: 100%;
}

#botonPlantilla {
    border-radius: 0.5rem;
    border: 0;
    padding: 10px;
    background-color: #10B981;
    color: white;
}

/*Clasificación*/

#clasificaciones {
    padding: 20px;
    background-color: gray;
}

#clasificacionMasculino {
    border-radius: 16px;
    background-color: lightblue;
}

#clasificacionMasculino > h2 {
    padding-top: 20px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    text-decoration: underline;
}

#clasificacionFemenino {
    border-radius: 16px;
    background-color: lightcoral;
}

#clasificacionFemenino > h2 {
    font-family: 'Inter', sans-serif;
    text-align: center;
    text-decoration: underline;
}

.nombreEquipo {
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    padding-left: 45px;
}

.puntosDiv {
    display: flex;
    gap: 20px;
    padding-right: 45px;
    align-items: center;
}

.nombreEquipo > p {
    font-size: 24px;
}

#botonClasificacion {
    border: 0;
    border-radius: 0.5rem;
    padding: 10px;
    background-color: #10B981;
    color: white;
}

/*Footer*/

footer {
    background-color: #064E3B;
}